@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Poppins:ital@1&family=Quicksand:wght@300&family=Source+Sans+Pro:wght@300&display=swap');



*{
        box-sizing: border-box;
}

body {
        height: 100vh;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
}



/* Start Address bar  */
.headers {
        background-color: darkblue;
        height: 50px;
        line-height: 50px;
        color: #fff;

}

.address-bar {
        display: flex;
        justify-content: space-between;

}

/* End Address bar  */

/* Start Nav Bar  */
.navbar-containers .navbar-brand img{  /* need here */
        filter: opacity(35%);
        -webkit-filter: opacity(35%);
  }

        body .navbar-light .navbar-toggler {
        color: darkblue;
        border-color: darkblue;
      }

.menu {
        font-size: 18px;
}

.menu li a:hover {
        color: darkblue;
}

/* End Nav Bar  */


/* START BNNER SECTION  */
.entry-header {
        height: 150px;
        background-image: url('../projectdatas/websitedatas/sliders/slider-2.png');
        background-repeat: no-repeat;
        background-size:cover;
}
/* END BANNER SECTION  */


/* START OUR GOAL SECTION  */

/* END OUR GOAL SECTION  */

/* START FOOTER SECTION  */
.footers {
        background-color: #2C3E50;
        color: #fff;
}

.sub-footers {
        transform: translateX(30px);

}

.sub-footers ul li {
        list-style: none;
}

.sub-footers ul li a {
        text-decoration: none;
}

.copy-rights {
        height: 50px;
        background-color: darkblue;
        text-align: center;
        line-height: 50px;

}
/* END FOOTER SECTION  */